@charset "utf-8";
/* CSS Document */
h1
{
	text-align: center;
}
.splitContainer {
	display: grid;
	grid-template-columns: 1fr 2fr;
}
.picker
{
	padding: 10px;
	padding-top: 0;
	background-color: rgba(200,200,200,0.5);
	font-size: 0.9em;
}
.openbtn
{
	font-weight: bold;
	color: white;
	border: 1px solid rgb(9, 74, 178);
	height: 24px;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 2px;
	text-align: center;
	cursor: pointer;
	background-color: rgb(9, 74, 178);
}
.openbtn::before {
	content: "";
	display: inline-block;
	width: 1em;
	height: 1em;
	background-image: url("images/cloud-white-18dp.svg");
	background-size: contain;
}
.mask-list
{
	width: 100%;
	height: 300px;
	margin-bottom: 5px;
}
.mask-bar {
	display: grid;
	grid-template-columns: 100px auto 30px 30px;
	gap: 3px;
}
.mask-add,.mask-remove
{
	margin: 0;
}
.tip
{
	font-style: italic;
	color: #666;
}
.output
{
	padding: 10px;
	padding-top: 0;
	background-color: rgba(253,224,180,0.5);
}
.outinfo
{
	height: 25px;
	line-height: 25px;
	background-color:lightblue;
	margin-bottom: 10px;
}
.outcontent
{
	box-sizing: border-box;
	width: 100%;
	resize: vertical;
	height: 340px;
	min-height:300px;
}
.copyright
{
	width: 100%;
	text-align: center;
}